<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <jtgConfiguration 
    UsingCache="true" 
    SchemaDir="Input" 
    TemplateDir="Input\DirectUseTemplates" 
    SourceOutputDir="javaSourceOutput" 
    GeneratorOutputDir="javaGeneratorOutput" 
    JarOutputDir="javaJarOutput" 
    SchemaPackage="org.edgo.jtg.schema" 
    GeneratedPackage="org.edgo.jtg.generated" 
    Schema="sample.DirectUse.xsd" 
    ProjectFile="Input\sample.DirectUse.xml" 
    StartTemplate="DirectUse.txt.jtg" 
    TemplateArg="mainElement"
    Command="GENERATE" />
</configuration>