<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<jtgConfiguration UsingCache="true" SchemaDir="javaSchema" TemplateDir="javaTemplates" SourceOutputDir="javaSourceOutput" GeneratorOutputDir="javaGeneratorOutput" JarOutputDir="javaJarOutput" SchemaNamespace="org.edgo.jtg.schema" GeneratedNamespace="org.edgo.jtg..generated" Schema="jtgSchema.cgsd" ProjectFile="jtgData.xml" StartTemplate="main.jtg"/>
</configuration>
